<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- JDBC connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/school_management</property>
        <property name="hibernate.connection.username">W1_87109_Swaraj</property>
        <property name="hibernate.connection.password">manager</property>

        <!-- Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Connection pool (basic) -->
        <property name="hibernate.connection.pool_size">10</property>

        <!-- Enable SQL output in console -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Automatically create/update tables -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- List of annotated entity classes -->
        <mapping class="com.fortytwolabs.School_Management_Project.Entity.StudentEntityClass"/>
        <mapping class="com.fortytwolabs.School_Management_Project.Entity.SubjectEntityClass"/>
        <mapping class="com.fortytwolabs.School_Management_Project.Entity.TeacherEntityClass"/>

    </session-factory>
</hibernate-configuration>
